// - - - - - - - - - - - - - - - - - - -
// - - typography
// global typography styles
html {
  text-rendering: optimizeLegibility;
  font: 1em "Open Sans";
}

p {
  line-height: 1.5;
  margin: 0 0 1em;
}



