// - - - - - - - - - - - - - - - - - - -
// - - settings
// global maps and variables

// Primary Colors
$black:  #212121;
$grey:   #EEEEEE;

// Accent Colors
$indigo: #3F51B5;
$blue:   $indigo;
$red:    #B71C1C;

// Switch
.vue-js-switch {
  &.toggled {
    .v-switch-core{
      background-color: $blue;
    }
  }
  .v-switch-core{
    background-color: grey;
  }
}
